fastapi==0.103.1
langchain==0.0.298
loguru==0.7.2
psycopg[c]==3.1.10
redis[hiredis]==4.6.0
redis-om==0.2.1
requests==2.31.0
SQLAlchemy==2.0.20
sqlparse==0.4.4
text-generation==0.6.0
uvicorn[standard]==0.23.2
websockets==11.0.3